$colorMaps: (blue:#3296ba,yellow:#f39801,black:#656565);
@mixin transition($value...)
{
    -webkit-transition: $value;
       -moz-transition: $value;
        -ms-transition: $value;
         -o-transition: $value;
            transition: $value;
}

@mixin translate3d($value...)
{
    -webkit-transform: translate3d($value);
       -moz-transform: translate3d($value);
        -ms-transform: translate3d($value);
         -o-transform: translate3d($value);
            transform: translate3d($value);
}



html,
body
{
    height: 100%;
}
.text-center
{
    text-align: center;
}
.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}
.pull-left
{
    float: left;
}
.pull-right
{
    float: right;
}
.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    width: 0;
    height: 0;

    content: '';
}
.container
{
    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: auto;
}
.navbar
{
    width: 90%;
    height: 50px;
    margin: 0 auto;

    background: #fff;
    ul
    {
        overflow: hidden;
    }
    li
    {
        float: left;

        width: 50%;
        height: 50px;
    }
    .text-left
    {
        img
        {
            width: 110px;
            margin: 5px 0;
        }
    }
    .text-right
    {
        img
        {
            width: 30px;
            margin-top: 14px;
        }
    }
}

.section-banner,
.section-bg
{
    height: 200px;

    background: map-get($colorMaps,blue);
}


.section-course
{
    margin: 10px 0;
}
.course-box
{
    overflow: hidden;

    width: 95%;
    margin: 10px auto;
    a
    {
        font-size: 22px;

        display: block;

        color: #fff;
    }
    .color-dx
    {
        width: 30%;
        height: 170px;

        background: #ffbb50;
        img
        {
            width: 50px;
            height: 50px;
            margin-top: 50px;
        }
    }
    .color-jc
    {
        line-height: 80px;

        width: 60%;
        height: 80px;

        background: #64c9ab;
        img
        {
            width: 30px;
            height: 30px;
            margin-top: -3px;

            vertical-align: middle;
        }
    }
    .color-gy
    {
        line-height: 80px;

        width: 35%;
        height: 80px;

        background: #a4cb88;
    }
    .color-cc
    {
        line-height: 80px;

        width: 25%;
        height: 80px;

        background: #6c6c6c;
    }
    .color-qh
    {
        line-height: 80px;

        width: 40%;
        height: 80px;
        margin-left: 5%;

        background: #e4c19b;
        img
        {
            width: 30px;
            height: 30px;
            margin-top: -5px;

            vertical-align: middle;
        }
    }
    .color-mc
    {
        line-height: 80px;

        width: 25%;
        height: 80px;

        background: #3395ba;
    }
    .color-fx
    {
        line-height: 80px;

        width: 31.333333%;
        height: 80px;

        background: #4eb0d3;
    }
    .color-pj
    {
        line-height: 80px;

        width: 31.333333%;
        height: 80px;
        margin-left: 3%;

        background: #5e85bc;
        img
        {
            width: 30px;
            height: 30px;
            margin-top: -5px;

            vertical-align: middle;
        }
    }
    .color-xl
    {
        line-height: 80px;

        width: 31.333333%;
        height: 80px;

        background: #ffd452;
    }
}

.footer
{
    color: #fff;
    .container
    {
        height: 50px;

        background: map-get($colorMaps,blue);
        p
        {
            line-height: 25px;
        }
    }
}

.mask
{
    position: fixed;
    z-index: 999999;
	top:0;
	left:0;
    width: 100%;
    height: 100%;

    background: transparent;
    display: none;
}
.tool-box
{
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;

    width: 200px;
    height: 100%;

	visibility:hidden;
    background: #222;
    li{
    	padding: 15px 0;
    }
    a{
    	color:#fff;
    }
}

.main-content
{
    position: relative;
    z-index: 99999;

    background: #fff;

    @include transition(transform 0.5s ease);
}

.open{
	@include translate3d(-200px,0,0);
}
.vis{
	visibility:visible;
}

@media screen and (max-width: 320px)
{
}
