$colorMaps: (blue:#3296ba,yellow:#f39801,black:#656565);
@mixin transition($value...)
{
    -webkit-transition: $value;
       -moz-transition: $value;
        -ms-transition: $value;
         -o-transition: $value;
            transition: $value;
}

@mixin translate3d($value...)
{
    -webkit-transform: translate3d($value);
       -moz-transform: translate3d($value);
        -ms-transform: translate3d($value);
         -o-transform: translate3d($value);
            transform: translate3d($value);
}

@mixin radius($value...)
{
    -webkit-border-radius: $value;
       -moz-border-radius: $value;
            border-radius: $value;
}
@mixin shadow($value...)
{
    -webkit-box-shadow: $value;
       -moz-box-shadow: $value;
            box-shadow: $value;
}
@mixin sizing
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
html,
body
{
    height: 100%;

    background: #fff;
}
.text-center
{
    text-align: center;
}
.text-left
{
    text-align: left;
}
.text-right
{
    text-align: right;
}
.hide
{
    display: none;
}
.show
{
    display: block;
}
.pull-left
{
    float: left;
}
.pull-right
{
    float: right;
}
.clearfix:after
{
    display: block;
    visibility: hidden;
    clear: both;

    width: 0;
    height: 0;

    content: '';
}
.btn
{
    color: #222;
    border: 0;
    outline: none;
    background: transparent;
}
.btn-yellow
{
    padding: 10px 20px;

    color: map-get($colorMaps,yellow);
    border: 1px solid map-get($colorMaps,yellow);

    @include radius(5px);
    @include transition(all 1s ease);
}

.clicked
{
    color: #fff;
    background: map-get($colorMaps,yellow);
}
.container
{
    width: 100%;
    height: auto;
}
.main-content
{
    position: relative;
    z-index: 99999;

    overflow-x: hidden;
    overflow-y: scroll;

    width: 100%;
    height: 100%;
    max-height: 100%;
    padding-top: 50px;

    background: #fff;

    @include transition(transform .5s ease);
}
/* 导航栏 */
.nav-header
{
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 0;

    width: 100%;

    background: #fff;

    @include shadow(0 1px 2px #ccc);
    @include transition(transform .5s ease);
    .navbar
    {
        width: 90%;
        height: 50px;
        margin: 0 auto;

        background: #fff;
        ul
        {
            overflow: hidden;
        }
        li
        {
            float: left;

            width: 50%;
            height: 50px;
        }
        .text-left
        {
            img
            {
                width: 110px;
                margin: 5px 0;
            }
        }
        .text-right
        {
            img
            {
                width: 30px;
                margin-top: 14px;
            }
        }
    }
}
/* 电话咨询 */
.nav-consult
{
    position: absolute;
    z-index: 100000;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 50px;

    background: #fff;

    @include shadow(0 1px 2px #ccc);
    @include transition(transform .5s ease);
    a
    {
        font-size: 1.1em;

        color: #fff;
    }
    .msg-consult,
    .tel-consult
    {
        line-height: 50px;

        display: block;

        width: 50%;
        height: 50px;
        img
        {
            width: 30px;
            height: 30px;

            vertical-align: middle;
        }
    }
    .msg-consult
    {
        background: map-get($colorMaps,yellow);
    }
    .tel-consult
    {
        background: map-get($colorMaps,blue);
    }
}


.section-banner,
.section-bg
{
    height: 200px;

    background: map-get($colorMaps,blue);
}
.section-banner
{
    h2
    {
        font-size: 1.2em;

        padding: 15px 0;

        color: #fff;
    }
    p
    {
        font-size: 1em;

        padding: 5px 0;

        color: #fff;
    }
    .his-box
    {
        position: relative;

        width: 90%;
        height: 100px;
        margin: 0 auto;
        span
        {
            position: absolute;
            z-index: 99;
            top: 50%;

            display: block;

            width: 20px;
            height: 20px;

            background: map-get($colorMaps,yellow);

            @include radius(50%);
            label
            {
                font-size: .8em;

                position: absolute;
                top: -20px;
                left: 50%;

                margin-left: -24px;

                color: map-get($colorMaps,yellow);
            }
            .center-label
            {
                font-size: 1.1em;
                font-weight: bolder;

                top: -30px;

                margin-left: -35px;
            }
        }
        hr
        {
            position: absolute;
            z-index: 33;
            top: 42px;
            left: 0;

            width: 100%;
            height: 1px;

            border: none;
            border-top: 1px dashed map-get($colorMaps,yellow);
        }
        .left
        {
            left: 0;

            margin-top: -10px;
        }
        .left-center
        {
            left: 25%;

            margin: -10px 0 0 -10px;
        }
        .center
        {
            left: 50%;

            width: 28px;
            height: 28px;
            margin: -14px 0 0 -14px;
        }
        .right-center
        {
            right: 25%;

            margin: -10px 0 0 -10px;
        }
        .right
        {
            right: 0;

            margin-top: -10px;
        }
    }
}
/* 首页 */
.section-bgimg
{
    padding: 10px 0 20px 0;

    background: url('../../dist/img/bg1.jpg') no-repeat center center;
    background-size: cover;
    .bg-title
    {
        font-size: 1.5em;
        font-weight: bolder;

        margin: 0 0 20px 0;

        color: map-get($colorMaps,yellow);
    }
    article > p
    {
        font-size: .85em;
        font-weight: bolder;

        margin: 10px 0;

        text-align: center;

        color: map-get($colorMaps,blue);
    }
}
/* 面试笔试 */
.section-aspect
{
    background: #fff;
    .interview-img,
    .write-img
    {
        width: 100%;
        height: 343px;
        margin-bottom: 10px;
        article
        {
            width: 260px;
            margin: 0 auto;
            padding: 60px 10px 0 10px;
            h3
            {
                font-size: 1.5em;
                line-height: 80px;

                color: #fff;
            }
            section
            {
                font-size: .9em;
                line-height: 20px;

                color: #fff;
            }
            footer
            {
                font-size: .8em;
                line-height: 20px;

                padding: 30px 10px 0 20px;

                color: #525252;
            }
        }
    }
    .interview-img
    {
        background: url('../../dist/img/mianshi.png') no-repeat center center;
        background-size: 280px 343px;
    }
    .write-img
    {
        background: url('../../dist/img/bishi.png') no-repeat center center;
        background-size: 280px 343px;
    }
}
/* 金牌讲师 */
.section-teachers
{
    padding: 20px 0;

    background: #f4f4f4;
    .photo-box
    {
        width: 100%;
    }
    @at-root .h1-line
    {
        font-size: 32px;
        font-weight: normal;

        position: relative;

        padding-bottom: 60px;

        color: map-get($colorMaps,blue);
        &:before,
        &:after
        {
            position: absolute;
            left: 50%;

            content: '';
        }
        &:before
        {
            z-index: 12;
            top: 66px;

            width: 130px;
            height: 5px;
            margin-left: -65px;

            background: map-get($colorMaps,yellow);
        }
        &:after
        {
            z-index: 2;
            top: 68px;

            width: 320px;
            height: 1px;
            margin-left: -160px;

            background: #ccc;
        }
    }
    .photo-info
    {
        width: 50%;

        color: map-get($colorMaps,blue);
        border: 1px solid #ccc;

        @include sizing;
        .head-photo
        {
            width: 100%;
            img
            {
                width: 100%;
            }
        }
        .introduce
        {
            padding: 0 20px;
            h3
            {
                font-size: 25px;
                font-weight: normal;

                margin: 0;
                padding: 20px 0;

                border-bottom: 1px solid map-get($colorMaps,yellow);
            }
            p
            {
                font-size: .8em;
                line-height: 16px;

                margin: 20px 0;
            }
        }
    }
}
/* 独家保障 */
.section-ensure
{
    padding: 20px 0 10px 0;
    span
    {
        font-size: .8em;

        margin: 5px;

        color: map-get($colorMaps,blue);
    }
    .ensure-box
    {
        margin: 20px 0 10px 0;
        .pull-left
        {
            width: 33.333333%;
            margin-bottom: 20px;
        }
        img
        {
            width: 90%;
        }
        h4
        {
            font-size: .9em;

            color: map-get($colorMaps,blue);
        }
    }
}
/* 推荐课程 */
.section-recommend
{
    padding: 10px 0 20px 0;

    background: #f4f4f4;
    p
    {
        font-size: .9em;
        line-height: 20px;

        color: map-get($colorMaps,blue);
    }
    img
    {
        width: 100%;
        height: auto;
    }
}
.footer
{
    position: relative;

    width: 100%;
    height: 60px;

    background: map-get($colorMaps,blue);
    img
    {
        width: 25px;
        height: 25px;
        margin-top: 19px;
    }
    ul
    {
        li
        {
            float: left;
            a
            {
                font-size: 16px;
                line-height: 60px;

                display: block;

                color: #fff;
            }
            &:nth-child(even)
            {
                margin-right: 30px;
            }
        }
    }
    span
    {
        font-size: 16px;
        line-height: 60px;

        position: absolute;
        top: 0;
        right: 0;

        color: #fff;
    }
}
/* 课程页面 */
.section-course
{
    margin: 10px 0;
}
.course-box
{
    overflow: hidden;

    width: 95%;
    margin: 10px auto;
    a
    {
        font-size: 22px;

        display: block;

        color: #fff;
    }
    .color-dx
    {
        width: 30%;
        height: 170px;

        background: #ffbb50;
        img
        {
            width: 50px;
            height: 50px;
            margin-top: 50px;
        }
    }
    .color-jc
    {
        line-height: 80px;

        width: 60%;
        height: 80px;

        background: #64c9ab;
        img
        {
            width: 30px;
            height: 30px;
            margin-top: -3px;

            vertical-align: middle;
        }
    }
    .color-gy
    {
        line-height: 80px;

        width: 35%;
        height: 80px;

        background: #a4cb88;
    }
    .color-cc
    {
        line-height: 80px;

        width: 25%;
        height: 80px;

        background: #6c6c6c;
    }
    .color-qh
    {
        line-height: 80px;

        width: 40%;
        height: 80px;
        margin-left: 5%;

        background: #e4c19b;
        img
        {
            width: 30px;
            height: 30px;
            margin-top: -5px;

            vertical-align: middle;
        }
    }
    .color-mc
    {
        line-height: 80px;

        width: 25%;
        height: 80px;

        background: #3395ba;
    }
    .color-fx
    {
        line-height: 80px;

        width: 31.333333%;
        height: 80px;

        background: #4eb0d3;
    }
    .color-pj
    {
        line-height: 80px;

        width: 31.333333%;
        height: 80px;
        margin-left: 3%;

        background: #5e85bc;
        img
        {
            width: 30px;
            height: 30px;
            margin-top: -5px;

            vertical-align: middle;
        }
    }
    .color-xl
    {
        line-height: 80px;

        width: 31.333333%;
        height: 80px;

        background: #ffd452;
    }
}
/* 新闻咨询 */
/* 轮播图 */
.swiper-container
{
    width: 100%;
}
.swiper-slide
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;

    text-align: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
}
.swiper-slide img
{
    width: 100%;
    height: 200px;
}
/* 咨询标题 */
.section-nav-news
{
    height: 50px;

    background: #fff;
    .pull-left
    {
        line-height: 50px;

        position: relative;

        width: 50%;
        .select-list
        {
            position: absolute;
            z-index: 222;
            top: 55px;
            left: 5%;

            width: 90%;

            background: #fff;

            @include shadow(2px 2px 4px #ccc);
            a
            {
                font-size: 1em;
                line-height: 40px;

                display: block;

                height: 40px;

                color: map-get($colorMaps,black);
            }
        }
        span
        {
            position: relative;

            color: map-get($colorMaps,black);
            &:after,
            &:before
            {
                position: absolute;
                right: -25px;

                display: block;

                content: '';

                border-right: 10px solid transparent;
                border-left: 10px solid transparent;
            }
            &:before
            {
                z-index: 5;
                top: 6px;

                border-top: 10px solid #fff;
            }
            &:after
            {
                z-index: 1;
                top: 7px;

                border-top: 10px solid #222;
            }
        }
    }
}

.section-new-box
{
    margin: 20px 0;
    padding: 20px 0;

    background: #fff;
    img
    {
        width: 20px;
        height: 20px;
        margin-top: -4px;

        vertical-align: middle;
    }
    a
    {
        font-size: 1em;
        line-height: 25px;

        display: block;
        overflow: hidden;

        height: 30px;

        color: map-get($colorMaps,black);
    }
    .hide
    {
        padding: 0 10px;
    }
}
.section-new-info
{
    position: relative;

    margin: 20px 0;
    padding: 20px 0;

    background: #fff;
    h3
    {
        font-size: 1.2em;
        font-weight: bolder;

        margin: 20px 0;

        color: #222;
    }
    p
    {
        font-size: .95em;
        line-height: 20px;

        text-indent: 33px;
    }
    #close-news
    {
        line-height: 20px;

        position: absolute;
        top: 10px;
        right: 20px;

        display: block;

        width: 20px;
        height: 20px;

        cursor: pointer;
        text-align: center;

        color: map-get($colorMaps,blue);
        border: 1px solid map-get($colorMaps,blue);

        @include radius(50%);
    }
}
/* 页脚 */
.footer
{
    color: #fff;
    .container
    {
        height: 50px;

        background: map-get($colorMaps,blue);
        p
        {
            line-height: 25px;
        }
    }
}
.section-bg .bg-img
{
    width: 90%;
    height: 200px;
    margin: 0 auto;

    background: url('../img/join-banner.jpg') no-repeat center center;
    background-size: 90% 200px;
}
/* 加入我们 */
.section-join-info
{
    .join-line
    {
        position: relative;
        z-index: 10;

        padding: 20px 0;

        border-bottom: 1px solid #ccc;
        &:before,
        &:after
        {
            position: absolute;
            left: 50%;

            display: block;

            width: 0;
            height: 0;
            margin-left: -20px;

            content: '';

            border-right: 20px solid transparent;
            border-left: 20px solid transparent;
        }
        &:before
        {
            z-index: 15;
            bottom: -19px;

            border-top: 20px solid #fff;
        }
        &:after
        {
            z-index: 12;
            bottom: -20px;

            border-top: 20px solid #b8b8b8;
        }
    }
    .baidu-map
    {
        width: 100%;
        height: 350px;
        margin: 20px 0;
    }
    .map-point
    {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        .pull-left
        {
            line-height: 100px;

            width: 20%;
            img
            {
                vertical-align: middle;
            }
        }
        .pull-right
        {
            width: 80%;
            h3
            {
                margin-top: 25px;
            }
            h3,
            p
            {
                font-size: 14px;
            }
            p
            {
                margin-top: 10px;

                color: #666;
            }
        }
    }
    .join-contact
    {
        margin-bottom: 20px;
        li
        {
            font-size: 12px;

            float: left;

            width: 49%;
            height: 130px;
            margin-top: 20px;

            border-right: 1px solid #ccc;
            &:last-child,
            &:nth-child(2)
            {
                border-right: 0;
            }
            p
            {
                margin-bottom: 10px;
            }
        }
    }
    .job-box
    {
        margin: 30px 0;
        .job-box-li
        {
            line-height: 50px;

            position: relative;
            z-index: 5;

            overflow: hidden;

            height: 50px;

            cursor: pointer;

            border-bottom: 1px solid #ccc;
        }
        .icon-span,
        .icon-span2
        {
            position: absolute;
            z-index: 10;
            top: 15px;

            display: block;

            width: 22px;
            height: 22px;
        }
        .icon-span
        {
            left: 10px;

            background: url('../../dist/img/jiantou1.png') no-repeat center center;
            background-position: -22px 0;
        }
        .icon-span2
        {
            right: 10px;

            background: url('../../dist/img/jiantou2.png') no-repeat center center;
            background-position: -22px 0;
        }
        .job-name
        {
            margin-left: 40px;
        }
        .job-num
        {
            position: absolute;
            z-index: 10;
            right: 40px;
        }
        .list-active
        {
            color: #fff;
            border-bottom: 1px solid map-get($colorMaps,blue);
            background: map-get($colorMaps,blue);
            .icon-span,
            .icon-span2
            {
                background-position: 0 0;
            }
        }
        .job-explain
        {
            overflow: hidden;

            width: 100%;
            max-height: 0;

            color: #666;

            @include transition(all 1s ease);
        }
        .openheight
        {
            max-height: 1000px;
        }
        .job-explain-require
        {
            padding: 15px 10px;
            span
            {
                font-size: 14px;

                display: inline-block;

                width: 49%;
            }
        }
        .job-explain-info
        {
            font-size: 14px;
            line-height: 20px;

            padding: 0 10px;

            border-bottom: 1px solid #ccc;
            h4
            {
                font-size: 16px;

                color: #222;
            }
            .text-center
            {
                margin: 10px 0;
            }
        }
    }
}
/* 遮罩 */
.mask
{
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: transparent;
}
.mask-popup
{
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    cursor: pointer;

    opacity: .75;
    background: #000;

    filter: alpha(opacity=75);
}
.popup
{
    position: fixed;
    z-index: 9999999;
    top: 50%;
    left: 50%;

    display: none;

    width: 200px;
    height: 120px;
    margin: -60px 0 0 -100px;

    border: 1px solid map-get($colorMaps,yellow);
    background: #fff;

    @include radius(5px);
    .popup-box
    {
        font-size: 16px;
        p
        {
            margin: 10px 0;
        }
    }
}
/* 侧边栏 */
.tool-box
{
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;

    visibility: hidden;

    width: 200px;
    height: 100%;

    background: #222;
    li
    {
        padding: 15px 0;
    }
    a
    {
        color: #fff;
    }
}



.open
{
    @include translate3d(-200px,0,0);
}
.vis
{
    visibility: visible;
}

@media screen and (max-width: 1000px)
{
    .swiper-button-next,
    .swiper-button-prev
    {
        display: none;
    }
}
